html {
    font-size: 22px;
}

main {
    font-family: monospace;
}

h1, h2 {
    color: blue;
}

p {
    color: purple!important; /** Не рекомендуемая практика Dp not use this; **/
}

.gray {
    color: gray;
}

#second {
    font-style: italic;
}

.highlight {
    text-transform: uppercase;
    background-color: gold;
}


/* https://specificity.keegan.st/ */